.wrapper {
  height: 100vh;
}

.settings {
  position: absolute;
  top: 20px;
  background: black;
  color: white;
}

.react-grid-layout {
  height: 100vh;
}

.component {
  background: gray;
}

.nodes {
  display: flex;
  flex-wrap: wrap;
}

.node {
  width: 100px;
  height: 100px;
  background: white;
  margin: 5px;
}

.node:hover {
  cursor: pointer;
}